<h1>Atualizar Ordem de Serviço</h1>
<form action="/atualizarOs" method="post">
{{#each ordem}}
    <div class="field">
    <label class="label">Aparelho</label>
    <div class="control">
        <input class="input" name="aparelho" value="{{ordem.aparelho}}" type="text" placeholder="Aparelho/Modelo" required/>
    </div>
    </div>

    <div class="field">
    <label class="label">Defeito</label>
        <input class="input" name="defeito" value="{{defeito}}" type="text" placeholder="Defeito Apresentado" value="" required/>
    </div>

    <div class="field">
    <label class="label">Servico</label>
        <input class="input" value="{{servico}}" type="text" placeholder="O que foi realizado">
    </div>

    <div class="field">
    <label class="label">Valor</label>
        <input class="input" value="{{valor}}" type="number" placeholder="Valor">
    </div>

    <label class="label">Autorizado?</label>
    <select name="autorizacao">
      <option value="{{autorizado}}">{{autorizacao}}</option>
    </select>

    <label class="label">Situação</label>
    <select name="status">
        <option value="{{statusId}}">{{status}}</option>
    </select>

    <input type="hidden" value="{{id}}" name="id"/>
    {{/each}}
    <button type="submit is-primary" value="Atualizar OS"/>
</form>