<h1>Atualizar Ordem de Serviço</h1>
<form action="/atualizarOs/" method="post">
{{#each ordem}}
    <div class="field">
    <label class="label">Aparelho</label>
    <div class="control">
        <input class="input" name="aparelho" value="{{aparelho}}" type="text" placeholder="Aparelho/Modelo" required/>
    </div>
    </div>

    <div class="field">
    <label class="label">Defeito</label>
        <input class="input" name="defeito" value="{{defeito}}" type="text" placeholder="Defeito Apresentado" value="" required/>
    </div>

    <div class="field">
    <label class="label">Servico</label>
        <input class="input" name="servico" value="{{servico}}" type="text" placeholder="O que foi realizado">
    </div>

    <div class="field">
    <label class="label">Valor</label>
        <input class="input" name="valor" value="{{valor}}" type="number" placeholder="Valor">
    </div>

    <label class="label">Autorizado?</label>
    <div class="select">
        <select name="autorizacao">
            {{#each ../autorizado}}
                <option value="{{id}}">{{nome}}</option>
            {{/each}}
        </select>
    </div>
    <label class="label">Situação</label>
    <div class="select">
        <select name="status">
            {{#each ../status}}
                 <option value="{{id}}">{{nome}}</option>
            {{/each}}
        </select>
    </div>
    <input type="hidden" value="{{id}}" name="id"/>
    
    <button style="float:right;" class="button is-primary" type="submit"/>Atualizar OS</button>
    {{/each}}
</form>